.App {
  background-color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Sesh {
  width: 100%;
  height: 100%;
}

.Control-Bar {
  width: 100%;
  position: absolute;
  text-align: center;
   z-index:2;
}

iframe { width:100%; height:100%; align:bottom; position: fixed; padding:0; border:0}
/* .YT-Player {

  width:100%;

  position: absolute;
  padding:0;
  border:0;
  z-index: 999;
  display:block;
  position:absolute;
  height: auto;
  width: auto;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
